* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

h2 {
  margin: 10px;
}

.parte-principal {
  min-height: 60vh;
  background-image: url(../images/George-Orwell.webp);
  background-size: cover;
  background-position: center;
}

.info-orwell {
  margin: 15px 7px 15px 7px;
  line-height: 25px;
  text-align: justify;
}

/* footer */
footer {
  color: black;
  background-color: cadetblue;
}

.btn {
  margin: 10px;
}

/* Vista Escritorio */

@media (min-width: 1024px) {
  /* navbar */

  .navbar-collapse {
    justify-content: end;
  }

  .titulo {
    margin-left: 20px;
  }

  /* Biografia */

  .info-orwell {
    width: 75%;
    margin: auto;
    line-height: 35px;
  }
}
